# OS
.DS_Store
Thumbs.db

# IDE
.vscode/settings.json
.idea/
*.swp
*.swo
*~

# Secrets
.env
.env.*
*.key
*.pem
firebase-debug.log

# Angular
/node_modules
/dist
/tmp
/out-tsc
/.angular/cache
/coverage
*.log
